{% extends "base.html" %}

{% block title %}Mot de passe modifié{% endblock %}

{% block content %}
<div class="auth">
  <div class="card auth__card">
    <div class="card__title">Mot de passe modifié !</div>
    <div class="card__text" style="margin-bottom: 1.5rem; text-align: center;">
      Votre mot de passe a été modifié avec succès. Vous pouvez maintenant vous connecter.
    </div>
    <a href="{% url 'login' %}" class="btn btn--primary" style="width: 100%; text-align: center; display: block;">Se connecter</a>
  </div>
</div>
{% endblock %}
